<div class="notif-main">
  <div class="notif-con">
    <h2>Notifications</h2>
    <div class="notif-list">
      <div
        class="notif"
        *ngFor="let notif of notifVar.slice().reverse()"
        (click)="toggleFlUpdatesCon()"
      >
        <h3 [ngStyle]="{ color: notif.wlColor }">
          Alert {{ notif.wlLevel.toUpperCase() }}
        </h3>
        <!-- <p>{{ notif.wlInfo }}</p> -->
        <p>Month of {{ notif.wlMonth }}</p>
        <div class="time">
          <p>{{ notif.wlTime }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shortcut-con">
    <h2>Shortcut</h2>
  </div>
</div>
