<div class="notif-main">
  <div class="notif-con">
    <h2>Notifications</h2>
    <div class="notif-list">
      <div class="notif">
        <h4>@keemchard</h4>
        <p>Posted an event</p>
      </div>
      <div class="notif">
        <h4>@keemchard</h4>
        <p>Posted an event</p>
      </div>
      <div class="notif">
        <h4>@keemchard</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eum,
          voluptas veritatis soluta perspiciatis quia aperiam? Voluptate, nobis
          eligendi doloremque, ipsam dolor, corporis commodi molestias ullam
          culpa ut fugiat itaque!
        </p>
      </div>
      <div class="notif">
        <h4>@keemchard</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eum,
          voluptas veritatis soluta perspiciatis quia aperiam? Voluptate, nobis
          eligendi doloremque, ipsam dolor, corporis commodi molestias ullam
          culpa ut fugiat itaque!
        </p>
      </div>
    </div>
  </div>
  <div class="shortcut-con">
    <h2>Shortcut</h2>
  </div>
</div>
