<div
  (click)="closeButton()"
  class="modal"
  id="myModal"
  [ngStyle]="{ display: 'flex' }"
>
  <div class="modal-content">
    <span [ngStyle]="{ cursor: 'pointer' }" class="close">&times;</span>
    <h2 [ngStyle]="{ color: 'red' }">{{ modalMessage }}</h2>
    <button
      [ngStyle]="{ cursor: 'pointer' }"
      class="closeButton"
      id="closeButton"
    >
      Okay
    </button>
  </div>
</div>
<!-- FORM -->
<form id="form" class="signup-form" (ngSubmit)="addUser()">
  <p>SIGN UP</p>
  <div>
    <!-- Name -->
    <input
      [ngStyle]="{ outline: 'none' }"
      type="text"
      placeholder="Enter Name"
      name="name"
      [(ngModel)]="name"
      id="name"
    />
  </div>
  <div>
    <!-- Email -->
    <input
      [ngStyle]="{ outline: 'none' }"
      type="text"
      placeholder="Enter Email"
      name="email"
      [(ngModel)]="email"
      id="em"
    />
    <span id="text"></span>
  </div>
  <!-- Mobile No. -->
  <div>
    <input
      [ngStyle]="{ outline: 'none' }"
      type="text"
      placeholder="Mobile Number"
      name="mobile"
      [(ngModel)]="mobile"
      id="mobile"
    />
  </div>
  <!-- Address -->
  <div>
    <input
      [ngStyle]="{ outline: 'none' }"
      type="text"
      placeholder="Address"
      name="address"
      [(ngModel)]="address"
      id="address"
    />
  </div>
  <!-- Password -->
  <div>
    <input
      [ngStyle]="{ outline: 'none' }"
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      id="pw"
    />
  </div>
  <section>
    <input [ngStyle]="{ cursor: 'pointer' }" type="submit" value="Sign up" />
  </section>
  <article>
    <a
      [ngStyle]="{ cursor: 'pointer' }"
      (click)="toggleLoginForm()"
      class="toggle-login"
      >Already have an account?</a
    >
  </article>
</form>
