* {
  color: white;
}

.signup-form {
  padding: 8px;
}
.signup-form P {
  margin: 10px 0 20px 0;
  font-size: 40px;
}
.signup-form > div input {
  width: 100%;
  padding: 10px;
  border: transparent;
  border-bottom: 3.5px solid rgb(240, 240, 240);
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}
/* .signup-form > div {
  border-bottom: 3.5px solid rgb(240, 240, 240);
  margin-bottom: 20px;
  border-radius: 5px;
} */
.signup-form section {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.signup-form section input {
  padding: 15px;
  font-size: 18px;
  width: 100%;
  background: rgba(187, 198, 207, 0.5);
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.25s;
  margin-bottom: 20px;
}
.signup-form section input:active {
  font-size: 15px;
  width: 90%;
  transition: 0.25s;
}
.signup-form section input:hover {
  transform: scale(1.1);
}
article a {
  font-size: 15px;
  color: rgb(187, 198, 207);
  text-decoration: underline;
}
#name,
#em,
#mobile,
#address,
#closeButton,
#pw {
  transition: 0.25s;
}
#name:hover,
#em:hover,
#mobile:hover,
#address:hover,
#closeButton:hover,
#pw:hover {
  transform: scale(1.1);
}
/* Modal Background */
.modal {
  position: fixed;
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border-radius: 10px;
  /* border: solid rgb(7, 7, 7); */
  /* background-color: rgba(80, 124, 182, 0.479); */
  background-color: rgb(247, 247, 247);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.modal-content > h2 {
  color: black;
  /* justify-content: center; */
}
#thisText {
  color: black;
  font-size: 18px;
}
.closeButton {
  border: transparent;
  border-radius: 5px;
  background: rgba(187, 198, 207, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
}
