/* * {
  color: white;
} */

.signup-form {
  padding: 8px;
  color: white;
}
.signup-form P {
  margin: 10px 0 20px 0;
  font-size: 40px;
}
.signup-form > div input {
  width: 100%;
  padding: 10px;
  border: transparent;
  border-bottom: 3.5px solid rgb(240, 240, 240);
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}
/* .signup-form > div {
  border-bottom: 3.5px solid rgb(240, 240, 240);
  margin-bottom: 20px;
  border-radius: 5px;
} */
.signup-form section {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.signup-form section input {
  padding: 15px;
  font-size: 18px;
  width: 100%;
  background: rgba(187, 198, 207, 0.5);
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.25s;
  margin-bottom: 20px;
}
.signup-form section input:active {
  font-size: 15px;
  width: 90%;
  transition: 0.25s;
}
.signup-form section input:hover {
  transform: scale(1.1);
}
article a {
  font-size: 15px;
  color: rgb(187, 198, 207);
  text-decoration: underline;
}
.toggle-login {
  color: black;
}
#name,
#em,
#mobile,
#address,
#closeButton,
#pw {
  color: white;
  transition: 0.25s;
}
#name:hover,
#em:hover,
#mobile:hover,
#address:hover,
#closeButton:hover,
#pw:hover,
#name:focus,
#em:focus,
#mobile:focus,
#address:focus,
#pw:focus {
  transform: scale(1.1);
}
/* Modal Background */
.modal {
  position: fixed;
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border-radius: 10px;
  color: rgb(238, 135, 135);
  background-color: rgb(255, 185, 172);
  border-left: 5px solid red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-around; */
  position: relative;
}
.closeMod {
  /* border-radius: 10px; */
  /* background-color: rgba(0, 0, 0, 0.19); */
  /* color: black; */
  /* color: inherit; */
  /* width: 70px;
  height: 70px; */
  font-size: 2rem;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  /* align-items: center; */
  /* padding: 10px; */
  /* background-color: rgba(0, 0, 0, 0.19); */
  /* background-color: #bfdbf7;
  border-radius: 50%; */
  right: 20px;
  /* top: 10px;
  right: 20px; */
  /* font-size: 40px; */
  /* color: rgb(61, 62, 63); */
  position: absolute;
}
.closeMod:hover {
  color: rgb(221, 82, 48);
  /* color: red; */
  cursor: pointer;
}
#icon-modal {
  text-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(221, 82, 48);
  color: white;
  border-radius: 50%;
  padding: 10px;
  /* margin-bottom: 30px; */
  margin-left: 50px;
}
#modal-message {
  margin-left: 20px;
}
.closeButton {
  font-size: 18px;
  border: transparent;
  border-radius: 5px;
  /* background: rgba(27, 81, 126, 0.582); */
  background-color: #1f7a8c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
}
