* {
  color: white;
}
.dash-main {
  background-color: #18191a;
  height: 100vh;
}
.dashboard {
  /* background-color: wheat; */
  background-color: #18191a;
  width: 1366px;
  padding: 10px;
  margin: auto;
  height: 100vh;
  display: flex;
}
