.profile-main {
  /* background-color: brown; */
  width: 320px;
  padding: 5px;
}
.floodwatch-logo {
  /* height: 80px; */
  /* background-color: aqua; */
  /* background-color: #2e89ff; */
  background-color: #242526;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.fl-logo {
  height: 110px;
  width: 110px;
}
.fl-name-con {
  line-height: 23px;
}
.fl-name-con h3 {
  margin-left: 10px;
}
.fl-name-con h3 a {
  text-decoration: none;
  color: #2e89ff;
}
.floodwatch-logo p {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#2e89ff, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile-con {
  /* background-color: aliceblue; */
  background-color: #242526;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
.profile-con > div {
  text-align: center;
}
.profile-img {
  height: 100px;
  width: 100px;
  /* background-color: green; */
  background-color: #2e89ff;
  background-image: url(https://i.pravatar.cc/150?);
  background-size: contain;
  border-radius: 50%;
  margin: 20px 0 18px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
.profile-name {
  /* background-color: antiquewhite; */
  margin-bottom: 25px;
}

.profile-name p {
  margin-top: -8px;
}

.profile-info {
  /* background-color: antiquewhite; */
  margin-bottom: 30px;
}
.profile-info p {
  line-height: 20px;
}
.profile-logout button {
  /* background-color: green; */
  background-color: #2e89ff;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  border: 1px solid white;
  transition: 0.25s;
}

.profile-logout button:hover {
  transform: scale(1.1);
}

/* for animations */
