<div class="profile-main">
  <div class="floodwatch-logo" (click)="secret()"></div>
  <div class="profile-con">
    <div class="profile-img"></div>
    <div class="profile-name">
      <h2 id="profileName">{{ profileName }}</h2>
      <p id="profileEmail">{{ profileEmail }}</p>
    </div>
    <div class="profile-info">
      <p id="profileMobile">{{ profileMobile }}</p>
      <p id="profileAddress">{{ profileAddress }}</p>
      <p>n/a</p>
      <p>n/a</p>
    </div>
    <div class="profile-logout">
      <button routerLink="/register-dash">Log out</button>
    </div>
  </div>
</div>
