<div class="profile-main">
  <div class="floodwatch-logo" (click)="secret()">
    <img
      class="fl-logo"
      src="assets/floodwatch logo.png"
      alt="floodwatch logo"
    />
    <div class="fl-name-con">
      <p>FloodWatch</p>
      <h3>
        <a
          href=""
          class="typewrite"
          data-period="2000"
          data-type='[ "Be Alert, ", "Get Notified. " ]'
        >
          <span class="wrap"></span>
        </a>
      </h3>
    </div>
  </div>
  <div class="profile-con">
    <div class="profile-img"></div>
    <div class="profile-name">
      <h2 id="profileName">{{ profileName }}</h2>
      <p id="profileEmail">{{ profileEmail }}</p>
    </div>
    <div class="profile-info">
      <p id="profileMobile">{{ profileMobile }}</p>
      <p id="profileAddress">{{ profileAddress }}</p>
      <p>n/a</p>
      <p>n/a</p>
    </div>
    <div class="profile-logout">
      <button routerLink="/register-dash">Log out</button>
    </div>
  </div>
</div>
