<!-- <app-login></app-login>
<app-signup></app-signup> -->
<div class="register-main">
  <div class="register-con">
    <div class="first">
      <div class="intro-con">
        <p class="reg-title">FLOOD<span>WATCH</span></p>
        <P class="reg-sub"
          >Web Based Water Level Indicator with SMS Notification</P
        >
      </div>
    </div>
    <div class="second">
      <div class="login-div">
        <app-login></app-login>
      </div>
      <div class="signup-div">
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
