.log-main-con {
  background-color: wheat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-main-con .log-con {
  background-color: tan;
  width: 350px;
  height: 450px;
  padding: 10px;
}
.log-con h2 {
  background-color: red;
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
}

.log-con form > div {
  display: flex;
  flex-direction: column;
}
.log-con form label {
  margin-bottom: 5px;
}
.log-con form input {
  margin-bottom: 10px;
  padding: 8px;
}
.log-con form section input {
  background-color: red;
  margin-top: 30px;
}
.log-con form section {
  display: flex;
  justify-content: center;
}
