<div class="log-main-con">
  <div class="log-con">
    <h2>LOGIN</h2>
    <form>
      <div>
        <label for="logemail">Email Address:</label>
        <input type="text" name="logemaile" id="logemail" />
      </div>
      <div>
        <label for="logpassword">Password</label>
        <input type="password" name="logpassword" id="logpassword" />
      </div>
      <section>
        <input type="submit" value="Log In" />
      </section>
    </form>
    <a routerLink="/signup">New user? Click me to signup</a>
  </div>
</div>
