<div class="post-main">
  <div class="post-category">
    <div><h2 class="post-tab">POSTS</h2></div>
    <div><h2>POLL</h2></div>
    <div><h2>Diagram</h2></div>
  </div>
  <div class="post-con">
    <!-- Container of each Posts -->
    <!-- ///////// -->
    <div class="post-list" *ngFor="let post of postVariable.slice().reverse()">
      <div class="post-profile">
        <div class="post-prof-img">
          <div class="prof-img-con"></div>
        </div>
        <div class="post-prof-name">
          <h4>
            {{ post.profName }}
            <span>{{ post.profEmail }}</span>
          </h4>
        </div>
      </div>
      <div class="post-txt">
        <p>
          {{ post.profTextPost }}
        </p>
      </div>
    </div>
    <!-- ///////// -->
    <button (click)="makePost()" class="open-post-btn">+</button>
  </div>
</div>

<!-- Create Post Modal -->
<div id="post-main-modal" class="post-main-modal">
  <form class="post-create-form">
    <div id="icon-times" (click)="closeTimes()" class="icon-times">
      <fa-icon [icon]="faTimes"></fa-icon>
    </div>
    <div class="upper-container">
      <input [(ngModel)]="name" placeholder="{{ name }} " type="text" />
      <input placeholder="{{ mobileNumber }} " type="text" />
      <input
        class="input-email"
        [(ngModel)]="email"
        placeholder="{{ email }} "
        type="text"
      />
    </div>
    <div class="bottom-container">
      <input placeholder="Type text here" type="text" />
      <section>
        <input type="submit" value="Post" />
      </section>
    </div>
    <!-- <section>
      <input type="submit" value="Post" />
    </section> -->
  </form>
</div>
