<div class="post-main">
  <div class="post-category">
    <div><h2 class="post-tab">POSTS</h2></div>
    <div><h2>POLL</h2></div>
    <div><h2>Diagram</h2></div>
  </div>
  <div class="post-con">
    <!-- ///////// -->
    <div class="post-list" *ngFor="let post of postVariable">
      <div class="post-profile">
        <div class="post-prof-img">
          <div class="prof-img-con"></div>
        </div>
        <div class="post-prof-name">
          <h4>
            {{ post.profName }}
            <span>{{ post.profEmail }}</span>
          </h4>
        </div>
      </div>
      <div class="post-txt">
        <p>
          {{ post.profTextPost }}
        </p>
      </div>
    </div>
    <!-- ///////// -->

    <button (click)="makePost()" class="open-post-btn">+</button>
  </div>
</div>
