.post-main {
  height: 97.5vh;
  /* display: flex; */
  /* background-color: rebeccapurple; */
  background-color: #242526;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin: 0px 10px;
  padding: 10px;
  border-radius: 5px;
  /* background-color: saddlebrown; */
  position: relative;
}
.post-category {
  /* background-color: aliceblue; */
  background-color: #242526;
  display: flex;
  padding: 5px 10px 15px 10px;
  margin-bottom: 15px;
}
.post-category > div {
  margin-right: 25px;
}
.post-tab,
.poll-tab,
.diagram-tab {
  border-radius: 5px;
  padding: 0 2px 4px 2px;
}
.post-tab {
  border-bottom: 5px solid #2e89ff;
}

.post-con {
  /* position: relative; */
  /* background-color: antiquewhite; */
  height: 87.5vh;
  background-color: #2e89ff;
  overflow-y: scroll;
  padding: 5px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.post-con::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.post-con {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.post-list {
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  background-color: #3a3b3c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px 17px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.post-list .post-profile {
  /* background-color: aqua; */
  background-color: #242526;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
/* .post-profile > div {
  border: 1px solid black;
} */
.post-profile .post-prof-img {
  width: 55px;
  height: 53px;
}
.prof-img-con {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* background-color: green; */
  background-color: #2e89ff;
}
.post-profile .post-prof-name {
  margin-left: 8px;
}

.post-prof-name h4 span {
  margin-left: 2px;
  font-weight: 100;
  font-size: 15px;
  color: gray;
}
.post-prof-name p {
  font-size: 13px;
  color: gray;
}
.post-txt {
  margin-top: 10px;
  /* background-color: aliceblue; */
  margin-left: 80px;
  padding: 3px;
}
.post-txt p {
  /* background-color: antiquewhite; */
  font-size: 15.5px;
}

.open-post-btn {
  height: 70px;
  width: 70px;
  background-color: #2e89ff;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 30px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 40px;
  transition: 0.25s;
  font-weight: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.77);
}
.post-option-tab {
  width: 200px;
  height: 220px;
  background-color: #242526;
  position: absolute;
  bottom: 75px;
  right: 70px;
  display: none;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.77);
}
.open-post-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.option-con {
  margin-top: 45px;
}
.option-con > div {
  background-color: #3a3b3c;
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 16px;
  border-radius: 10px;
  transition: 0.3s;
}
.option-con > div:hover {
  background-color: #2e89ff;
}
.post-main-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* backdrop-filter: blur(5px); */
  background: rgba(0, 0, 0, 0.8);
  /* background-color: aquamarine; */
  display: none;
  justify-content: center;
  align-items: center;
}
.post-create-form {
  border-radius: 10px;
  /* background-color: #242526; */
  background-color: #1b1a1a;
  background-color: #242526;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.77);
  width: 600px;
  height: 400px;
  justify-content: space-around;
  padding: 10px 15px 10px 15px;
  /* align-items: center; */
}
.post-header {
  padding: 10px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-header > h3 {
  border: 4px solid #3d348b;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  /* background-color: #3d348b; */
}
.post-header > h3 {
  font-size: 15px;
}
.close-option-post {
  background-color: #3a3b3c;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.close-option-post:hover {
  cursor: pointer;
  color: white;
  background-color: #2e89ff;
}
.close-upload-post {
  background-color: #3a3b3c;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #7678ed;
  font-size: 20px;
}
.close-upload-post:hover {
  cursor: pointer;
  color: white;
  background-color: gray;
}

.upper-container > textarea {
  font-size: 20px;
  outline: none;
  /* background-color: #3d348b; */
  background-color: transparent;
  background-color: #3a3b3c;
  color: white;
  margin-top: 30px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  border: transparent;
  width: 100%;
  height: 200px;
  resize: none;
}
.add-post-container {
  margin-top: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: flex-end;
  /* background-color: blue; */
}
.add-post {
  font-size: 15px;
  border: transparent;
  background-color: #3d348b;
  color: white;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  transition: 0.25s;
}
.add-post:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.user-info {
  display: none;
}
