<div class="monthly-main-con">
  <!-- dito sa monthly-con mag ngFor -->
  <div class="monthly-con">
    <div class="monthly-header">
      <h2>Monthly Flood Analysis Diagram</h2>
    </div>
    <div class="monthly-diagram">
      <!-- this div below swould also got ngFor, and that's for fetching water level post LEVEL the belongs to specific month -->

      <div class="bar-con">
        <div [ngStyle]="{ height: '100%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '50%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '25%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '75%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '25%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '50%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '100%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '50%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '25%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '75%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '50%' }" class="bar"></div>
      </div>
      <div class="bar-con">
        <div [ngStyle]="{ height: '50%' }" class="bar"></div>
      </div>
      <!-- 

      <!-- below code is for level indicator -->
      <div class="indicator level-one"></div>
      <div class="indicator level-two"></div>
      <div class="indicator level-three"></div>
      <div class="indicator level-four"></div>
    </div>
  </div>
</div>
