.log-main-con {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-form {
  height: 400px;
  width: 320px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.log-form h2 {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}
.log-form > div input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.log-form section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.log-form section input {
  padding: 8px;
}
