<form class="log-form" (ngSubmit)="login()">
  <p>LOG IN</p>
  <div>
    <input
      type="text"
      name="email"
      [(ngModel)]="email"
      id="email"
      placeholder="Email"
    />
  </div>
  <div>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      id="password"
      placeholder="Password"
    />
  </div>
  <section>
    <input type="submit" value="Continue" />
  </section>
  <!-- <article><a routerLink="/signup">Already have an account?</a></article> -->
  <article>
    <a (click)="toggleSignUpForm()" class="toggle-signup">Create an Account</a>
  </article>
</form>
