<form class="log-form" (ngSubmit)="login()">
  <p>LOG IN</p>
  <div>
    <input
      [ngStyle]="{ outline: 'none' }"
      type="text"
      name="email"
      [(ngModel)]="email"
      id="email"
      placeholder="Email"
    />
  </div>
  <div>
    <input
      [ngStyle]="{ outline: 'none' }"
      type="password"
      name="password"
      [(ngModel)]="password"
      id="password"
      placeholder="Password"
    />
  </div>
  <section>
    <input [ngStyle]="{ cursor: 'grab' }" type="submit" value="Continue" />
  </section>
  <!-- <article><a routerLink="/signup">Already have an account?</a></article> -->
  <article>
    <a
      [ngStyle]="{ cursor: 'grab' }"
      (click)="toggleSignUpForm()"
      class="toggle-signup"
      >Create an Account</a
    >
  </article>
</form>
