<div class="sign-main-con">
  <div class="sign-con">
    <h2>SIGN UP</h2>
    <form>
      <div>
        <label for="fullname">Fullname:</label>
        <input type="text" name="fullname" id="fullname" />
      </div>
      <div>
        <label for="mobile">Mobile Number:</label>
        <input type="text" name="mobile" id="mobile" />
      </div>
      <div>
        <label for="signemail">Email Address:</label>
        <input type="email" name="signemail" id="signemail" />
      </div>
      <div>
        <label for="signpassword">Password</label>
        <input type="text" name="signpassword" id="signpassword" />
      </div>
      <section>
        <input type="submit" value="Sign Up" />
      </section>
    </form>
    <a routerLink="/login">Already have an account?</a>
  </div>
</div>
