<div class="poll-con">
  <!-- Container of each Poll -->
  <div class="poll-list" *ngFor="let poll of pollVariable">
    <div class="poll-info">
      <div class="poll-name">
        <h3>
          Date Poll
          <span>{{ poll.pollDate }}</span>
        </h3>
      </div>
    </div>
    <div class="poll-content">
      <div>
        <div (click)="safeVote(poll)" class="safe vote">
          <p class="safe-txt">Safe</p>
          <div
            [ngStyle]="{ width: poll.pollSafeVote + '%' }"
            class="safe-vote"
          ></div>
        </div>
      </div>
      <div>
        <div (click)="notSafeVote(poll)" class="not-safe vote">
          <p class="not-safe-txt">Not Safe</p>
          <div
            [ngStyle]="{ width: poll.pollNotSafeVote + '%' }"
            class="not-safe-vote"
          ></div>
        </div>

        <div class="poll-num">
          <div>
            Safe: <span>{{ poll.pollSafeVote }}%</span>
          </div>
          <div>
            Not Safe: <span>{{ poll.pollNotSafeVote }}%</span>
          </div>
          <div>
            No Vote: <span>{{ poll.pollNoVote }}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
